.logo{
    font-family:Myriad Pro sans-serif;
    font-weight: 400;
    font-size: 80px;
    color: #000000;
    margin: 10px 20px;
}
.logo:first-letter{
    text-transform: uppercase;
}
 .logo span{
     color: #4bcaff;
     font-family:Myriad Pro sans-serif;
     font-weight: 400;
     font-size: 80px;
}

.navbar{
    list-style: none;
    padding: 0 20%;
    background-color: #35444f;
    text-align: center;
}
.navbar a{
    font-family: Myriad Pro sans-serif;
    color:  #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;
}
.clearfix:after{
    clear: both;
    content: "";
    display: table;
}
.nav-item{
    float: left;
    padding: 15px 10px;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}
.nav-item:hover{
    background-color:  #222f3a;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}
.menu{
    list-style: none;
    padding: 0;
    text-align: left;
    width: 280px;
    border: 1px solid black;
    margin-left: 21px;
    float:left;
}
.menu-item{
    display: block;
    padding: 30px;
    box-sizing: border-box;
}
.menu a{
    font-family: Myriad Pro sans-serif;
    color: #485863;
    font-size: 27px;
    font-weight: 400;
    text-decoration: none;
}
.menu-item{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}
.menu-item:hover{
    background-color: #d3d3d3;
}
.menu-item a:hover{
    color: #000000;
}
.img-placeholder{
    text-align: center;
    margin-top: 32px;
    margin-left: 369px;
    margin-right: 100px;
    border: 1px solid;
}
.oww{
    padding: 50px;
}
.content{
    text-align: center;
    padding: 0 100px 0 354px;
}
.menu-bottom{
    list-style: none;
    font-family: Myriad Pro sans-serif;
    color:  #0c1927;
    font-size: 28px;
    font-weight: 400;
    text-align: left;
    background-color: #aaaaaa;
}
.item-bottom{
    box-sizing: border-box;
    padding: 10px;
    display: inline-block;
}
.item-bottom:hover{
    text-decoration: underline;

}
.item-bottom a:hover{
color: #3181a6;
}
.item-bottom a {
    text-decoration: none;
    color: #0c1927;
}
.menu-bottom .copy{
    font-family: Myriad Pro sans-serif;
    float: right;
    color:  #010000;
    font-size: 24px;
    font-weight: 400;
    margin: 20px 40px;
}

.copy a{
    text-decoration: none;
    color: #0c1927;
}